html {
    background: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 60pt;
    text-align: center;
    padding: 0;
}

h2 {
    text-align: center;
    font-size: 48pt;
}

h3 {
    text-align: center;
    font-size: 36pt;
}

h4 {
    text-align: center;
    font-size: 14pt;
    line-height: 0.5;
}

a.diagButton {
  color: black;
  margin: 0px 20px;
  padding: 10px;
  background-color: lightgray;
  text-decoration: none;
}

.navbar {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 40px 0px;
    padding: 10px 0px 10px 100px;
    background-color: gray;
    vertical-align: middle;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 30px;
    font-size: 20pt;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: lightgray;
}

.button {
    font: bold 36px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 20px 60px 20px 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

}
